<a href="https://colab.research.google.com/github/afennell-tech/USGS_Wildfires/blob/dev/ExploratoryAnalysis_Main_AL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Note
The data for [1.88 Million US Wildfires](https://www.kaggle.com/rtatman/188-million-us-wildfires) is very large, so we store the file in google drive, rather than in our github repository. On Kaggle, the file provided is a SQLite database containing information on US wildfires. For the purpose of this project, we will utilize the sqlite3 library. Feel free to download the file to your local machine if you prefer. Click [here](https://drive.google.com/drive/folders/18YlVzuPCf-IXeQQSy0F3H32oG_KHEBhr?usp=sharing) to access the folder containing all data used for this project.

# Initial Setup:

Before running any of the below cells: 
1. Go to google drive (gdrive)
2. Find the 'USGS_Wildfires_Project_Content' folder, which should be in the 'Shared with me' section of your gdrive
3. Right click on the folder, and select 'Add shortcut to drive'
4. Click 'Add shortcut'
5. The folder should then appear in 'My Drive' section of gdrive

***Users only need to complete the above task once.***

# Getting Started: Workspace Setup

### Mounting Google Drive to Google Colab
Note: Any time the runtime is reset, you will need to reauthenticate to mount gdrive

In [2]:
from google.colab import drive
from os.path import join

ROOT = '/content/drive' # default for the drive
PROJ = 'MyDrive/USGS_Wildfires_Project_Content' # path to project on Drive
PROJ_PATH = join(ROOT, PROJ)
DATA_PATH = join(PROJ_PATH, 'data')

drive.mount(ROOT) # we mount the drive at /content/drive

""" After executing the above code, the folder 'drive' will appear under 
the files section. This is the users respective gdrive """

Mounted at /content/drive

" After executing the above code, the folder 'drive' will appear under \nthe files section. This is the users respective gdrive "

# Exploratory Analysis

### Helper Functions

In [3]:
import sqlite3 # to deal with database 
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api

"""
Returns a Connection object that represents the input db.
"""
def get_sql_connection(sql_file): 
    return sqlite3.connect(sql_file)

"""
Returns a df for table from Connection object.
"""
def get_table(table_name, conn):
    query = "Select * from {}".format(table_name)
    return pd.read_sql_query(query, conn)

"""
Provided the input dataframe, function prints out the number of values each 
column takes on and if this number is less than input max_out, the corresponding 
values are printed as well.
"""
def print_col_info(df, max_out=5):
    # check if input is valid
    assert len(df.columns) > 0
    # iterate over each column
    for col_name, col in df.items(): 
        if len(col.value_counts()) <= max_out: 
            print(f"""Column name: {col_name}, NaN count: {col.isna().sum()}, 
            # of non-null values: {len(col.value_counts(dropna=False))}, 
            distinct values: {col.value_counts().index.tolist()}""")
        else: 
            print(f"""Column name: {col_name}, NaN count: {col.isna().sum()}, 
            # of non-null values: {len(col.value_counts(dropna=False))}""")

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

### Variable Setup

In [4]:
USGS_DATA_PATH = join(DATA_PATH, 'FPA_FOD_20170508.sqlite')
usgs_db = get_sql_connection(USGS_DATA_PATH) # USGS data

### Exploration

In [5]:
'''
Note: If the below code breaks, make sure that the USGS_DATA_PATH 
is indeed the correct path to get to the .sqlite file. 
'''

# load fires data
fires_df = get_table('fires', usgs_db)
# drop OBJECTID and Shape; these are specific columns for the SQL db
fires_df.drop(columns=['OBJECTID', 'Shape'], inplace=True)

In [6]:
# First, we get some info about the dataframe itself

print(f"There are {len(fires_df)} rows and {len(fires_df.columns)} columns.")

print(f"List of all column names: {fires_df.columns}")

# get more info about the columns themselves (all)
print_col_info(fires_df, max_out=20)

There are 1880465 rows and 37 columns.
List of all column names: Index(['FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM',
       'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 'MTBS_ID', 'MTBS_FIRE_NAME',
       'COMPLEX_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY',
       'DISCOVERY_TIME', 'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'CONT_DATE',
       'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE',
       'LONGITUDE', 'OWNER_CODE', 'OWNER_DESCR', 'STATE', 'COUNTY',
       'FIPS_CODE', 'FIPS_NAME'],
      dtype='object')
Column name: FOD_ID, NaN count: 0,
            # of non-null values: 1880465
Column name: FPA_ID, NaN count: 0,
            # of non-null values: 1880462
Column name: SOURCE_SYSTEM_TYPE, NaN count: 0,
            # of non-null values: 3,
            distinct values: ['NONFED', 'FED', 'INTERAGCY']
Column name: SOURCE_SYSTEM, NaN count: 0,
            # of non-null values: 38
Column name: NWCG_REPORTING_AGENCY, NaN count: 0,
            # of non-null values: 11,
            distinct values: ['ST/C&L', 'FS', 'BIA', 'BLM', 'IA', 'NPS', 'FWS', 'TRIBE', 'DOD', 'BOR', 'DOE']
Column name: NWCG_REPORTING_UNIT_ID, NaN count: 0,
            # of non-null values: 1640
Column name: NWCG_REPORTING_UNIT_NAME, NaN count: 0,
            # of non-null values: 1635
Column name: SOURCE_REPORTING_UNIT, NaN count: 0,
            # of non-null values: 4992
Column name: SOURCE_REPORTING_UNIT_NAME, NaN count: 0,
            # of non-null values: 4441
Column name: LOCAL_FIRE_REPORT_ID, NaN count: 1459286,
            # of non-null values: 13509
Column name: LOCAL_INCIDENT_ID, NaN count: 820821,
            # of non-null values: 565915
Column name: FIRE_CODE, NaN count: 1555636,
            # of non-null values: 172447
Column name: FIRE_NAME, NaN count: 957189,
            # of non-null values: 493634
Column name: ICS_209_INCIDENT_NUMBER, NaN count: 1854748,
            # of non-null values: 22738
Column name: ICS_209_NAME, NaN count: 1854748,
            # of non-null values: 19574
Column name: MTBS_ID, NaN count: 1869462,
            # of non-null values: 10482
Column name: MTBS_FIRE_NAME, NaN count: 1869462,
            # of non-null values: 8134
Column name: COMPLEX_NAME, NaN count: 1875282,
            # of non-null values: 1417
Column name: FIRE_YEAR, NaN count: 0,
            # of non-null values: 24
Column name: DISCOVERY_DATE, NaN count: 0,
            # of non-null values: 8766
Column name: DISCOVERY_DOY, NaN count: 0,
            # of non-null values: 366
Column name: DISCOVERY_TIME, NaN count: 882638,
            # of non-null values: 1441
Column name: STAT_CAUSE_CODE, NaN count: 0,
            # of non-null values: 13,
            distinct values: [5.0, 9.0, 7.0, 1.0, 13.0, 2.0, 4.0, 8.0, 3.0, 6.0, 11.0, 10.0, 12.0]
Column name: STAT_CAUSE_DESCR, NaN count: 0,
            # of non-null values: 13,
            distinct values: ['Debris Burning', 'Miscellaneous', 'Arson', 'Lightning', 'Missing/Undefined', 'Equipment Use', 'Campfire', 'Children', 'Smoking', 'Railroad', 'Powerline', 'Fireworks', 'Structure']
Column name: CONT_DATE, NaN count: 891531,
            # of non-null values: 8761
Column name: CONT_DOY, NaN count: 891531,
            # of non-null values: 367
Column name: CONT_TIME, NaN count: 972173,
            # of non-null values: 1442
Column name: FIRE_SIZE, NaN count: 0,
            # of non-null values: 13637
Column name: FIRE_SIZE_CLASS, NaN count: 0,
            # of non-null values: 7,
            distinct values: ['B', 'A', 'C', 'D', 'E', 'F', 'G']
Column name: LATITUDE, NaN count: 0,
            # of non-null values: 894061
Column name: LONGITUDE, NaN count: 0,
            # of non-null values: 997536
Column name: OWNER_CODE, NaN count: 0,
            # of non-null values: 16,
            distinct values: [14.0, 8.0, 5.0, 2.0, 13.0, 1.0, 7.0, 3.0, 4.0, 9.0, 6.0, 12.0, 15.0, 11.0, 10.0, 0.0]
Column name: OWNER_DESCR, NaN count: 0,
            # of non-null values: 16,
            distinct values: ['MISSING/NOT SPECIFIED', 'PRIVATE', 'USFS', 'BIA', 'STATE OR PRIVATE', 'BLM', 'STATE', 'NPS', 'FWS', 'TRIBAL', 'OTHER FEDERAL', 'MUNICIPAL/LOCAL', 'UNDEFINED FEDERAL', 'COUNTY', 'BOR', 'FOREIGN']
Column name: STATE, NaN count: 0,
            # of non-null values: 52
Column name: COUNTY, NaN count: 678148,
            # of non-null values: 3456
Column name: FIPS_CODE, NaN count: 678148,
            # of non-null values: 286
Column name: FIPS_NAME, NaN count: 678148,
            # of non-null values: 1699

### For now, we only care about exploring the following variables: 
OWNER_DESCR, FIRE_SIZE, FIRE_SIZE_CLASS, FIRE_YEAR, DISCOVERY_DATE, STAT_CAUSE_DESCR, LATITUDE, LONGITUDE, STATE, COUNTY

In [ ]:
"""
Subset fires_df to explore the above columns. Find necessary and informative
descriptive statistics, clean the data, make simple visualizations, run simple
regressions, etc. Just do whatever feels right so we can begin to understand 
what steps to take moving forward. 
"""

# ADD CODE HERE - TODO

In [7]:
fires_df

            FOD_ID             FPA_ID  ... FIPS_CODE  FIPS_NAME
0                1         FS-1418826  ...       063     Plumas
1                2         FS-1418827  ...       061     Placer
2                3         FS-1418835  ...       017  El Dorado
3                4         FS-1418845  ...       003     Alpine
4                5         FS-1418847  ...       003     Alpine
...            ...                ...  ...       ...        ...
1880460  300348363  2015CAIRS29019636  ...      None       None
1880461  300348373  2015CAIRS29217935  ...      None       None
1880462  300348375  2015CAIRS28364460  ...      None       None
1880463  300348377  2015CAIRS29218079  ...      None       None
1880464  300348399  2015CAIRS26733926  ...      None       None

[1880465 rows x 37 columns]

In [12]:
# number of times a specific cause appears in the df
fires_df.get(["STAT_CAUSE_DESCR"]).value_counts()

STAT_CAUSE_DESCR
Debris Burning       429028
Miscellaneous        323805
Arson                281455
Lightning            278468
Missing/Undefined    166723
Equipment Use        147612
Campfire              76139
Children              61167
Smoking               52869
Railroad              33455
Powerline             14448
Fireworks             11500
Structure              3796
dtype: int64

In [30]:
by_state_cause = fires_df.groupby(["STATE", "STAT_CAUSE_DESCR"]).count().get(["FOD_ID"])
by_state_cause.sort_values("FOD_ID", ascending = False).iloc[:20] # 20 greatest fire causes and states they occurred in

                         FOD_ID
STATE STAT_CAUSE_DESCR
GA    Debris Burning      88199
TX    Debris Burning      56172
CA    Miscellaneous       51943
NY    Miscellaneous       49620
TX    Miscellaneous       39822
CA    Equipment Use       39407
NC    Debris Burning      39020
MS    Arson               33134
OR    Lightning           31556
GA    Arson               29757
AZ    Lightning           28776
CA    Lightning           27000
SC    Debris Burning      25081
      Missing/Undefined   22372
MS    Debris Burning      22093
AL    Arson               21826
PR    Missing/Undefined   21821
FL    Lightning           21806
AL    Debris Burning      21785
ID    Lightning           21291

In [47]:
fires_by_state = fires_df.get(["STATE"]).value_counts()
fires_by_state.sum()
fires_df.get(["STATE"]).value_counts(normalize = True)

STATE
CA       0.100800
GA       0.089801
TX       0.075524
NC       0.059175
FL       0.047999
SC       0.043242
NY       0.043005
MS       0.042133
AZ       0.038068
AL       0.035401
OR       0.032486
MN       0.023807
OK       0.022994
MT       0.021679
NM       0.019930
ID       0.019515
CO       0.018164
WA       0.017822
WI       0.016943
AR       0.016838
TN       0.016567
SD       0.016466
UT       0.016339
LA       0.015960
KY       0.014405
NJ       0.013799
PR       0.011742
WV       0.011682
VA       0.011610
MO       0.009547
NV       0.009017
ND       0.008084
WY       0.007533
ME       0.006993
AK       0.006830
MI       0.005585
HI       0.005262
PA       0.004633
NE       0.004240
KS       0.004080
CT       0.002646
IA       0.002198
MD       0.001926
OH       0.001850
MA       0.001396
NH       0.001304
IL       0.001237
IN       0.001116
RI       0.000255
VT       0.000242
DE       0.000091
DC       0.000035
dtype: float64

In [48]:
fires_df.get(["STATE", "STAT_CAUSE_DESCR"]).value_counts()

STATE  STAT_CAUSE_DESCR
GA     Debris Burning       88199
TX     Debris Burning       56172
CA     Miscellaneous        51943
NY     Miscellaneous        49620
TX     Miscellaneous        39822
                            ...
DC     Missing/Undefined        1
KS     Railroad                 1
MA     Structure                1
DE     Fireworks                1
       Children                 1
Length: 650, dtype: int64

In [53]:
# normalized fire causes per state (num of fire causes by state / total num fires across all states)
fires_df.get(["STATE", "STAT_CAUSE_DESCR"]).value_counts(normalize = True).iloc[:20]

STATE  STAT_CAUSE_DESCR
GA     Debris Burning       0.046903
TX     Debris Burning       0.029871
CA     Miscellaneous        0.027622
NY     Miscellaneous        0.026387
TX     Miscellaneous        0.021177
CA     Equipment Use        0.020956
NC     Debris Burning       0.020750
MS     Arson                0.017620
OR     Lightning            0.016781
GA     Arson                0.015824
AZ     Lightning            0.015303
CA     Lightning            0.014358
SC     Debris Burning       0.013338
       Missing/Undefined    0.011897
MS     Debris Burning       0.011749
AL     Arson                0.011607
PR     Missing/Undefined    0.011604
FL     Lightning            0.011596
AL     Debris Burning       0.011585
ID     Lightning            0.011322
dtype: float64

In [51]:
fires_df.groupby("STATE").count()

       FOD_ID  FPA_ID  SOURCE_SYSTEM_TYPE  ...  COUNTY  FIPS_CODE  FIPS_NAME
STATE                                      ...
AK      12843   12843               12843  ...     310        310        310
AL      66570   66570               66570  ...   41560      41560      41560
AR      31663   31663               31663  ...   19772      19772      19772
AZ      71586   71586               71586  ...   24585      24585      24585
CA     189550  189550              189550  ...   56221      56221      56221
CO      34157   34157               34157  ...   19347      19347      19347
CT       4976    4976                4976  ...    4323       4323       4323
DC         66      66                  66  ...       0          0          0
DE        171     171                 171  ...      38         38         38
FL      90261   90261               90261  ...   84103      84103      84103
GA     168867  168867              168867  ...  150514     150514     150514
HI       9895    9895                9895  ...    9735       9735       9735
IA       4134    4134                4134  ...    3685       3685       3685
ID      36698   36698               36698  ...   22912      22912      22912
IL       2327    2327                2327  ...    1627       1627       1627
IN       2098    2098                2098  ...     215        215        215
KS       7673    7673                7673  ...    6109       6109       6109
KY      27089   27089               27089  ...   19903      19903      19903
LA      30013   30013               30013  ...   13242      13242      13242
MA       2626    2626                2626  ...    2180       2180       2180
MD       3622    3622                3622  ...    3152       3152       3152
ME      13150   13150               13150  ...   12522      12522      12522
MI      10502   10502               10502  ...    9857       9857       9857
MN      44769   44769               44769  ...   30616      30616      30616
MO      17953   17953               17953  ...   14198      14198      14198
MS      79230   79230               79230  ...   48295      48295      48295
MT      40767   40767               40767  ...   16015      16015      16015
NC     111277  111277              111277  ...   47592      47592      47592
ND      15201   15201               15201  ...     966        966        966
NE       7973    7973                7973  ...     134        134        134
NH       2452    2452                2452  ...    2369       2369       2369
NJ      25949   25949               25949  ...   25791      25791      25791
NM      37478   37478               37478  ...   16388      16388      16388
NV      16956   16956               16956  ...   10941      10941      10941
NY      80870   80870               80870  ...   80018      80018      80018
OH       3479    3479                3479  ...    2963       2963       2963
OK      43239   43239               43239  ...   23903      23903      23903
OR      61088   61088               61088  ...   40178      40178      40178
PA       8712    8712                8712  ...    7300       7300       7300
PR      22081   22081               22081  ...      76         76         76
RI        480     480                 480  ...     396        396        396
SC      81315   81315               81315  ...   53341      53341      53341
SD      30963   30963               30963  ...    4495       4495       4495
TN      31154   31154               31154  ...   17571      17571      17571
TX     142021  142021              142021  ...  136462     136462     136462
UT      30725   30725               30725  ...   22207      22207      22207
VA      21833   21833               21833  ...   13090      13090      13090
VT        456     456                 456  ...     379        379        379
WA      33513   33513               33513  ...   23236      23236      23236
WI      31861   31861               31861  ...   28157      28157      28157
WV      21967   21967               21967  ...   21629      21629      21629
WY      14166   14166               14166  ...    7699       7699       7699

[52 rows x 36 columns]

In [54]:
# normalized causes by state
grouped = fires_df.groupby("STATE", sort=False)
i = 0
for state, state_df in grouped:
    if i < 2:
        print("State: ", state)
        print(state_df.get(["STAT_CAUSE_DESCR"]).value_counts(normalize = True).iloc[:20])
        print()
    i += 1

State:  CA
STAT_CAUSE_DESCR
Miscellaneous        0.274033
Equipment Use        0.207898
Lightning            0.142443
Arson                0.103587
Debris Burning       0.075537
Missing/Undefined    0.066500
Campfire             0.050203
Children             0.036560
Smoking              0.031316
Powerline            0.006320
Railroad             0.003798
Fireworks            0.001155
Structure            0.000649
dtype: float64

State:  NM
STAT_CAUSE_DESCR
Lightning            0.480442
Missing/Undefined    0.137147
Debris Burning       0.105048
Miscellaneous        0.096590
Campfire             0.051310
Arson                0.038049
Equipment Use        0.037862
Smoking              0.021746
Children             0.012327
Powerline            0.008218
Fireworks            0.005497
Railroad             0.004323
Structure            0.001441
dtype: float64